<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
    <body>
    
        {% for somm in som %}
            
            <h1>{{somm.adrez}}</h1>
            <h1>{{somm.city}}</h1>
            <h1>{{somm.state}}</h1>
            <h1>{{somm.zipcode}}</h1>
            <h1>{{somm.zipcode}}</h1>
          
          {% endfor %} 
        




        
    </body>
</html>

